<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ossmsft" value="https://ossmsft.pkgs.visualstudio.com/_packaging/OSS_All/nuget/v3/index.json"/>
    <add key="Bing" value="https://msasg.pkgs.visualstudio.com/_packaging/Bing/nuget/v3/index.json"/>
    <add key="mseng" value="https://mseng.pkgs.visualstudio.com/DefaultCollection/_packaging/VSOnline-Release/nuget/v3/index.json" />
    <add key="nugetorg" value="https://api.nuget.org/v3/index.json"/>
    <add key="1es" value="https://1essharedassets.pkgs.visualstudio.com/_packaging/Artifact@Release/nuget/v3/index.json"/>
  </packageSources>
</configuration>
